html {
  font-size: 20px;
  background-color: black;
  color: #0D0;
  font-family: 'Roboto Mono',monospace,verdana;
  font-weight: 400; }

input, button {
  border: none;
  outline: 1px solid #0A0;
  background: black;
  color: #0D0;
  padding: 5px; }

a, a:visited, a:active {
  color: #080; }

a:hover {
  color: #0A0; }

.clear {
  clear: both; }

.center {
  text-align: center; }

.bold {
  font-weight: 700; }

.header {
  text-shadow: #00dd00 0px 0px 20px; }
  .header .logo {
    text-shadow: #00dd00 7px 7px 15px; }
  .header .menu {
    float: right; }
  .header .auth {
    display: inline-block;
    float: right;
    padding: 20px; }
  .header #login {
    margin-left: -85px;
    font-size: 12px;
    width: 0px; }

.channel {
  margin: 0 auto;
  outline: 1px solid #0A0;
  height: 500px;
  position: relative;
  padding: 20px; }
  .channel .message {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 95%;
    height: 20px; }
  .channel .send {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 30px; }

.viewers {
  padding: 20px; }

.help code {
  background-color: #222;
  padding: 5px;
  font-weight: 200;
  font-size: 14px; }
