html {
  font-size: 20px;
  background-color: black;
  color: #0D0;
  font-family: 'Roboto Mono',monospace,verdana;
  font-weight: 400;
  height: 100%;
  overflow-x: hidden; }

input, button, textarea {
  border: none;
  outline: 1px solid #0A0;
  background-color: #000;
  color: #0D0;
  padding: 5px; }

a, a:visited, a:active {
  color: #080; }

a:hover {
  color: #0A0; }

hr {
  border: 1px solid #0A0; }

.red {
  color: red; }

.grey {
  color: #666; }

.green, .success {
  color: #0A0; }

.orange {
  color: #FA0; }

.clear {
  clear: both; }

.center {
  text-align: center; }

.bold {
  font-weight: 700; }

.error, .success {
  color: red;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #000; }

.header * {
  text-shadow: #00dd00 0px 0px 20px; }

.header .logo {
  text-shadow: #00dd00 7px 7px 15px; }

.header .menu {
  float: right; }

.header .auth {
  display: inline-block;
  float: right;
  padding: 20px; }

.header #login {
  margin-left: -85px;
  font-size: 12px;
  width: 0px; }

.channel {
  margin: 0 auto;
  outline: 1px solid #0A0;
  height: 520px;
  max-height: 520px;
  position: relative;
  overflow-y: auto;
  padding: 20px; }
  .channel .msg:last-child {
    padding-bottom: 20px; }

.users-wrap {
  position: relative; }

.users {
  position: absolute;
  font-size: 14px;
  right: 30px;
  top: 20px; }
  .users p {
    padding: 0;
    margin: 0; }

.speak {
  position: relative;
  height: 30px; }
  .speak .message {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 95%;
    height: 20px; }
  .speak .send {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 30px; }

.viewers, .topic {
  padding: 20px; }

.commands {
  position: absolute;
  top: 150px;
  bottom: 0px;
  left: 0px;
  right: 0px; }
  .commands .code {
    position: relative;
    float: left;
    width: 50%;
    height: 100%; }
    .commands .code #editor {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px; }
  .commands .top {
    width: 95%;
    margin: 0 auto;
    overflow: hidden; }
    .commands .top a, .commands .top .qty {
      color: #0A0; }
    .commands .top .confirm, .commands .top .error, .commands .top .success {
      padding-right: 10px; }
  .commands .name input {
    font-size: 20px;
    padding: 0;
    font-weight: 400; }
  .commands .qty {
    display: inline;
    font-size: 14px; }
  .commands .addInput {
    position: absolute;
    top: -3px;
    left: 13px;
    transform: translate(-120%, 0); }
  .commands .menu {
    position: relative;
    float: left;
    width: 50%;
    height: 100%; }
  .commands .confirm {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #FA0;
    background-color: #000; }
    .commands .confirm i {
      cursor: pointer;
      width: 30px; }
  .commands .list {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow-y: auto;
    overflow-x: hidden; }
    .commands .list .command {
      width: 95%;
      margin: 0 auto;
      position: relative; }
      .commands .list .command .tooltip {
        float: right;
        padding: 0px 15px;
        color: #060; }
      .commands .list .command .action {
        float: right;
        width: 30px;
        cursor: pointer; }
      .commands .list .command .action-disabled {
        opacity: 0.2;
        pointer-events: none; }

.log .entry {
  width: 95%;
  margin: 0 auto;
  position: relative; }
  .log .entry > div {
    display: inline-block; }
  .log .entry .time {
    font-size: 14px;
    position: absolute;
    top: 0px;
    right: 0px; }
  .log .entry .command {
    padding-right: 10px; }
  .log .entry .message {
    padding: 0px 10px;
    text-align: right; }

.about code {
  background-color: #222;
  padding: 5px;
  font-weight: 200;
  font-size: 14px; }

.config {
  position: absolute;
  top: 150px;
  bottom: 0px;
  left: 0px;
  right: 0px; }
  .config textarea {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 20px; }

.saveConfig {
  cursor: pointer;
  margin-top: -30px;
  position: relative;
  width: 100%;
  text-align: right; }

.xAxis, .yAxis {
  font-size: 12px;
  stroke: #0E0; }
  .xAxis path, .yAxis path {
    fill: none;
    stroke: #0E0;
    stroke-width: 1px; }
  .xAxis line, .yAxis line {
    shape-rendering: crispEdges;
    stroke: #0E0; }

.stats .daterange {
  float: right;
  position: relative;
  margin-left: 12px; }
  .stats .daterange .fromLBL, .stats .daterange .toLBL {
    font-size: 12px;
    position: absolute;
    right: 12px;
    top: 7px; }
