{
    "server": "irc.rizon.net",
    "channel": "#Nibblr",
    "username": "Nibblr",
    "password": "",
    "commands": "data.db",
    "logging": "log.db",
    "webInterface": {
        "domain": "localhost",
        "port": 8888,
        "password": "changeme",
        "secretKey": "changeme"
    }
}