html {
    font-size:20px;
    background-color:black;
    color:#0D0;
    font-family: 'Roboto Mono',monospace,verdana;
    font-weight: 400;
    height: 100%;
    overflow-x: hidden;
}

input, button, textarea {
    border: none;
    outline: 1px solid #0A0;
    background-color: #000;
    color: #0D0;
    padding: 5px;
}

a, a:visited, a:active {
    color:#080;
}

a:hover {
    color:#0A0;
}

hr {
    border: 1px solid #0A0;
}

.red {
    color:red;
}

.grey {
    color: #666;
}

.green {
    color: #0A0;
}

.orange {
    color: #FA0;
}

.clear {
    clear:both;
}

.center {
    text-align: center;
}

.bold {
    font-weight:700;
}

.error {
    color: red;
    position:absolute;
    top: 0px;
    right: 0px;
    background-color: #000;
}

.success {
    @extend .error;
    @extend .green;
}

// header

.header {
    * {text-shadow: rgb(0, 221, 0) 0px 0px 20px};

    .logo {
        text-shadow: rgb(0, 221, 0) 7px 7px 15px;
    }

    .menu {
        float:right;
    }

    .auth {
        display: inline-block;
        float: right;
        padding: 20px;
    }

    #login {
        margin-left: -85px;
        font-size: 12px;
        width: 0px;
    }

}

// home

.channel {
    margin: 0 auto;
    outline: 1px solid #0A0;
    height: 520px;
    max-height: 520px;
    position: relative;
    overflow-y: auto;
    padding: 20px;

    .msg:last-child{
        padding-bottom: 20px;
    }
}

.users-wrap {
    position: relative;
}

.users {
    position: absolute;
    font-size:14px;
    right: 30px;
    top: 20px;
    p {
        padding: 0;
        margin: 0;
    }
}

.speak {
    position:relative;
    height: 30px;

    .message {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 95%;
        height: 20px;
    }

    .send {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 100px;
        height: 30px;
    }
}

.viewers, .topic {
    padding: 20px;
}

// commands

.commands {
    position: absolute;
    top: 150px;
    bottom: 0px;
    left: 0px;
    right:0px;

    .code {
        position:relative;
        float:left;
        width:50%;
        height: 100%;

        #editor {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right:0px;
        }

    }

    .top {
        width: 95%;
        margin: 0 auto;
        overflow: hidden;

        a,.qty {
            color:#0A0;
        }

        .confirm, .error {
            padding-right:10px;
        }
    }


    .name input {
        font-size: 20px;
        padding: 0;
        font-weight: 400;
    }

    .qty {
        display: inline;
        font-size: 14px;
    }

    .addInput {
        position: absolute;
        top: -3px;
        left: 13px;
        transform: translate(-120%,0);
    }

    .menu {
        position:relative;
        float:left;
        width:50%;
        height:100%;
    }

    .confirm {
        position:absolute;
        top: 0px;
        right: 0px;
        color: #FA0;
        background-color: #000;
        i {
            cursor: pointer;
            width: 30px;
        }
    }

    .list {
        position: absolute;
        top: 60px;
        bottom: 0px;
        left: 0px;
        right:0px;
        overflow-y: auto;
        overflow-x: hidden;

        .command {
            width: 95%;
            margin: 0 auto;
            position: relative;

            .tooltip {
                float:right;
                padding: 0px 15px;
                color: #060;
            }

            .action {
                float:right;
                width: 30px;
                cursor: pointer;
            }
            .action-disabled {
                opacity: 0.2;
                pointer-events: none;
            }
        }
    }


}

// logs

.log {

    .entry {
        width: 95%;
        margin: 0 auto;
        position: relative;

        > div {
            display: inline-block;
        }
        .time {
            font-size: 14px;
            position: absolute;
            top: 0px;
            right: 0px;
        }
        .command {
            padding-right: 10px;
        }
        
        .user {
            
        }
        .message {
            padding: 0px 10px;
            text-align:right;
        }
    }
}


// about

.about {
    code {
        background-color: #222;
        padding: 5px;
        font-weight:200;
        font-size: 14px;
    }
}

.config {
    position: absolute;
    top: 150px;
    bottom: 0px;
    left: 0px;
    right:0px;

    textarea {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        font-size: 20px;
    }
}

.saveConfig {
    cursor: pointer;
    margin-top: -30px;
    position: relative;
    width:100%;
    text-align:right;
}