<script src="http://ajaxorg.github.io/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

<div class="commands">
    <div class="menu">
        <div class="top">
            <div class="addLink">
                <a href="#" class="add">Add new command</a>
                <div class="qty"></div>
            </div>
            <div class="addInput">
                <input class="newName" type="text" placeholder="command name..."/>
            </div>
        </div>
        <hr />
        <div class="list"></div>
    </div>
    <div class="code">
        <div id="editor"></div>
    </div>
</div>

