<div class="saveConfig">
    save<i class="green fa fa-check" aria-hidden="true"></i>
</div>
<div class="config">
    <textarea autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"><?= config ?></textarea>
</div>