<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>nibblr</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:200,400,700' rel='stylesheet' type='text/css'>
    <link href='/style.css' rel='stylesheet' type='text/css'>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
</head>
<script>
    var secretKey = {{{ secretKey }}};
    var admin = {{{ admin }}};
</script>

    <body>
        <div class="header">
            <div class="menu">
                <div>
                    <a href="/channel">channel</a> /
                    <a href="/commands">commands</a> /
                    <a href="/logs">logs</a> /
                    <a href="/stats">stats</a> /
                    <a href="/about">about</a>
                    {{#admin}} /
                        <a href="/config">config</a> /
                        <a href="#" id="logout">logout</a>
                    {{/admin}}
                </div>

                {{^admin}}
                    <div class="auth clear">
                        <input type="password" id="password" placeholder="password..." /><a href="#" id="login">admin login</a>
                    </div>
                {{/admin}}
            </div>

            <pre class="logo">
       __ __    __    __      
.-----|__|  |--|  |--|  .----.
|     |  |  _  |  _  |  |   _|
|__|__|__|_____|_____|__|__|</pre>

        </div>

        <div class="clear"></div>

        {{{yield}}}

        <script src="/client.js"></script>
    </body>
</html>
