<div class="stats">

    <div class="daterange">
        <button class="setRange">Set</button>
    </div>
    <div class="daterange">
        <input class="to" type="text" placeholder="to"/>
        <span class="toLBL">to</span>
    </div>
    <div class="daterange">
        <input class="from" type="text" placeholder="from" />
        <span class="fromLBL">from</span>
    </div>
    Channel stats <span class="status"></span>
    <div style="clear:both"></div>
    <hr />

    Highest Linecount (Top 30)
    <div class="linecount"></div>
</div>